<div class="container">
  <% @products.each do |product| %>
  <div class="row">
    <div class="col-sm-8">
      <p>SKU: <%= product['sku'] %></p>
      <p>Name: <%= product['name'] %></p>
      <p>Customer Average: <%= product['customerReviewAverage'] %></p>
      <p>Short Description: <%= product['shortDescription'] %></p>
    </div>
    <div class="col-sm-4">
      <%= image_tag product['image'] , height: '200px'%>
    </div>
  </div>
  <% end %>
</div>
